# ***ARRAYS***

In [ ]:
import array as arr
a = [1,2,3]

In [ ]:
a.append(4)

In [ ]:
a.extend([5,6,7,8,9,10])

In [ ]:
a += [1,2,3]

In [ ]:
a += [4,5,6]

In [ ]:
a += [1,2,3]

In [ ]:
print(a, end = ' ') #The purpose of using the end parameter with a space character is to ensure that the next output (if any) appears on the same line as the list output, separated by a space.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 1, 2, 3]

In [ ]:
# Inserting the value 7 at the index -3 in the list 'a'
a.insert(-3, 7)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3]

In [ ]:
# Extending the list 'a' by adding sublists [[4, 5], [6, 7]]
a +=[[4,5],[6,7]]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, [4, 5], [6, 7]]

In [ ]:
# Inserting the value 4 at index 1 in the list 'a'
a[1:1] = [4]

print(a, end = ' ')

# TRY a[1:4] = [7]
# Note: The slice assignment "a[1:4] = [7]" attempts to replace elements at indices 1, 2, and 3 with [7].

[1, 4, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, [4, 5], [6, 7]]

In [ ]:
# Modifying the element at index 1 of the list 'a' by assigning the value 23
a[1] = 23
a

#if we use end = ' ', then the output will be horizontal, otherwise it will be displayed vertically like the below output.

[1,
 23,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 1,
 2,
 3,
 [4, 5],
 [6, 7]]

In [ ]:
# Removing the element 10 from the list 'a'
a.remove(10)

# Printing the updated list 'a' without a newline (using 'end = " "')
print(a, end = " ")

In [ ]:
# Deleting the element at index 1 from the list 'a' using the 'del' statement
del a[1]
print(a, end = " ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, [4, 5], [6, 7]]

In [ ]:
# Creating a new list 'unique_array' containing only unique elements from the list 'a'
unique_array = [x for i, x in enumerate(a) if x not in a[:i]]

# Printing the 'unique_array'
print(unique_array)

[1, 2, 3, 4, 5, 6, 7, 8, 9, [4, 5], [6, 7]]

In [ ]:
# Adding elements [1, 2, 3, 4, 5, 6] to the 'unique_array' using the shorthand operator '+='
unique_array += [1,2,3,4,5,6]

# Printing the updated 'unique_array' followed by a space (due to the 'end' parameter)
print(unique_array, end = " ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, [4, 5], [6, 7], 1, 2, 3, 4, 5, 6]

In [ ]:
unique_array = [1, 2, 3, 4, 5, 6, 7, 8, 9, [4, 5], [6, 7], 1, 2, 3, 4, 5, 6]

# Creating a list 'elements_to_remove' containing elements to be removed from 'unique_array'
elements_to_remove = [2, 4, 6, 8]

# Using list comprehension to filter and create 'updated_unique_array'
updated_unique_array = [x for x in unique_array if x not in elements_to_remove]

# Further filtering 'updated_unique_array' to remove sublists and remaining unwanted elements
updated_unique_array = [x for x in updated_unique_array if isinstance(x, int) or not x in elements_to_remove]

# Printing the final 'updated_unique_array'
print(updated_unique_array)

[1, 3, 5, 7, 9, [4, 5], [6, 7], 1, 3, 5]

In [ ]:
#Another EASY method...
# List of elements to be removed from the 'updated_unique_array'
elements_to_remove = [1,3,5]

# Filtering 'updated_unique_array' using a lambda function to exclude elements in 'elements_to_remove'
updated_array = list(filter(lambda x: x not in elements_to_remove, updated_unique_array))
print(updated_array)

[7, 9, [4, 5], [6, 7]]

In [ ]:
# The following code demonstrates how to flatten a nested list using list comprehension.
# Given a nested list, the goal is to convert it into a flat list where all elements are at the same level.

# def flatten_list(nested_list):
#     flattened = []
#     for x in nested_list:
#         if isinstance(x, list):
#             flattened.extend(x)
#         else:
#             flattened.append(x)
#     return flattened

# updated_array = [7, 9, [4, 5], [6, 7]]

# flattened_array = flatten_list(updated_array)
# print(flattened_array)

#output [7, 9, 4, 5, 6, 7]



#alternate method is just 3 lines of code...
# The initial nested list
updated_array = [7, 9, [4, 5], [6, 7]]

# Using list comprehension to flatten the nested list
flattened_array = [x for sublist in updated_array for x in (sublist if isinstance(sublist, list) else [sublist])]

# Printing the flattened list
print(flattened_array)

[7, 9, 4, 5, 6, 7]

In [ ]:
# Printing the flattened list
print(flattened_array)

[7, 9, 4, 5, 6, 7]

In [ ]:
# Using list comprehension to filter out elements with the value 4 from the 'flattened_array'
flattened_array = [x for x in flattened_array if x != 4]

# Printing the filtered 'flattened_array'
print(flattened_array)

[7, 9, 5, 6, 7]

In [ ]:
# Deleting the variable 'flattened_array'
del flattened_array

In [ ]:
# However, if 'flattened_array' is not defined or has been deleted, this print statement will result in an error.
print(flattened_array)

#expected an error

NameError: ignored

In [ ]:
# Creating a flattened array with the elements [7, 9, 5, 6, 7], same as previous.. you can create any array of your wish.
flattened_array = [7, 9, 5, 6, 7]
print(flattened_array)

[7, 9, 5, 6, 7]

In [ ]:
flattened_array.pop(1)

9

In [ ]:
print(flattened_array)

[7, 5, 6, 7]

In [ ]:
flattened_array.pop(3)

7

In [ ]:
print(flattened_array)

[7, 5, 6]

In [ ]:
flattened_array.clear()  # Clearing the contents of the 'flattened_array'

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a.extend([10,11,12,1,2,3,4,5])
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5]

In [ ]:
a.count(5) # Counting occurrences of the element '5' in the list 'a'

2

In [ ]:
a.index(11)  # Finding the index of the first occurrence of the element '11' in the list 'a'

10

In [ ]:
a.sort()  # Sorting the elements of the list 'a' in ascending order
a

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
a = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12] # Creating a list 'a' with duplicate elements
unique_numbers = list(set(a)) # Converting the list 'a' to a set to remove duplicates, then converting it back to a list
print(unique_numbers) # Printing the list of unique numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
a = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12]
a.reverse()
a
#print("Reversed array:", a)

[12, 11, 10, 9, 8, 7, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [ ]:
a

[12, 11, 10, 9, 8, 7, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [ ]:
len(a) # Using the built-in 'len()' function to determine the length of the list 'a'

17

In [ ]:
a = [
    1, 1, 1, 0, 0, 0,
    0, 1, 0, 0, 0, 0,
    1, 1, 1, 0, 0, 0,
    0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0
]
print(a,end = ' ')

print()
print('---------')
print()

rows = 6
cols = 6

# Print the matrix in the desired format
for i in range(rows):
    for j in range(cols):
        print(a[i * cols + j], end=' ')
    print()

print()
print('---------')
print()

a = [
    [1, 1, 1, 0, 0, 0],
    [0, 1, 0, 0, 0, 0],
    [1, 1, 1, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0]
]
a

[1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
---------

1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0

---------

[[1, 1, 1, 0, 0, 0],
 [0, 1, 0, 0, 0, 0],
 [1, 1, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0]]

USER INPUT

In [ ]:
# Input the number of rows and columns
m, n = map(int, input("Enter the number of rows and columns: ").split())

# Input the elements of the matrix
matrix = [list(map(int, input().split())) for _ in range(m)]

# Display the matrix
print("Matrix:")
for row in matrix:
    print(*row)

Enter the number of rows and columns: 2 3
1 2 3
9 6 3
Matrix:
1 2 3
9 6 3

In [ ]:
# Creating an array
my_array = [1, 2, 3, 4, 5]

# Accessing elements
print(my_array[0])  # Output: 1
print(my_array[3])  # Output: 4

1
4

In [ ]:
# Loop through the array
for num in my_array:

   print(num, end = " ")

1 2 3 4 5

In [ ]:
# Find the maximum element from my_array = [1, 2, 3, 4, 5]
max_element = max(my_array)
print(max_element)  # Output: 5

5

In [ ]:
# Find the minimum element from my_array = [1, 2, 3, 4, 5]
min_element = min(my_array)
print(min_element)  # Output: 1

1

In [ ]:
# Find the sum of elements
sum_elements = sum(my_array)
print(sum_elements)  # Output: 15

15

In [ ]:
# Using list comprehension to create a new array
squared_array = [x ** 2 for x in my_array]
print(squared_array)

[1, 4, 9, 16, 25]

In [ ]:
# Finding unique elements using set
unique_elements = list(set(my_array))
print(unique_elements)

[1, 2, 3, 4, 5]

In [ ]:
# Creating a 2D array (matrix)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing elements in a 2D array
print(matrix[0][1])  # Output: 2
print(matrix[2][0])  # Output: 7

2
7

In [ ]:
# Slicing arrays
subset = my_array[1:4]
print(subset)

[2, 3, 4]

In [ ]:
# Using enumerate to get both index and value
for index, value in enumerate(my_array):
     print(f"Index: {index}, Value: {value}")

     #print("Index: {}, Value: {}".format(index,value))   #we can use any of the print method to get the results

Index: 0, Value: 1
Index: 1, Value: 2
Index: 2, Value: 3
Index: 3, Value: 4
Index: 4, Value: 5

In [ ]:
# Using zip to iterate through multiple arrays
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 28]
colour = ["red","green","blue"]

for name, age, colour in zip(names, ages,colour):
    print(f"{name} is {age} years old and he likes {colour} colour")

Alice is 25 years old and he likes red colour
Bob is 30 years old and he likes green colour
Charlie is 28 years old and he likes blue colour

_____________________________________

___________________________________

# ***SAMPLE PROBLEMS ON ARRAYS***

**Example 1 : Write a Python program to create an array of 5 integers and display the array items. Access individual element through indexes.**

In [ ]:
# Always try to divide the given question into subparts and try to understand the problem.

# Import the array module
from array import *

# Create an array of 5 integers
my_array = array('i', [10, 20, 30, 40, 50])

                                        #Another tricky loop method
                                        # for i in my_array:
                                        #     print(i)

# Display the array items
print("Array items:", my_array)

# Access individual elements through indexes
print("Element at index 0:", my_array[0])
print("Element at index10:", my_array[1])
print("Element at index 2:", my_array[2])
print("Element at index 3:", my_array[3])
print("Element at index 4:", my_array[4])

Array items: array('i', [10, 20, 30, 40, 50])
Element at index 0: 10
Element at index10: 20
Element at index 2: 30
Element at index 3: 40
Element at index 4: 50

**Example 2 : Write a Python program to append a new item to the end of the array.**

In [ ]:
from array import *
array_num = array('i', [1, 3, 5, 7, 9])
print(array_num)
array_num.append(11)
print(array_num)

array('i', [1, 3, 5, 7, 9])
array('i', [1, 3, 5, 7, 9, 11])

**Example 3 : Write a Python program to reverse the order of the items in the array.**

In [ ]:

array_num.reverse()

print(array_num)

array('i', [11, 9, 7, 5, 3, 1])

**Example 4 : Write a Python program to get the length in bytes of one array item in the internal representation.**

In [ ]:

print(array_num.itemsize)
print(len(array_num))

4
6

**Example 5 : Write a Python program to get the current memory address and the length in elements of the buffer used to hold an array’s contents and also find the size of the memory buffer in bytes.**

In [ ]:

print(array_num)
print(array_num.buffer_info())
print(array_num.buffer_info()[1] * array_num.itemsize)

array('i', [1, 3, 5, 3, 7, 9, 3, 1, 3, 5, 3, 7, 9, 3])
(136567950845440, 14)
56

**Example 6 : Write a Python program to get the number of occurrences of a specified element in an array.**

In [ ]:

array_num = array('i', [1, 3, 5, 3, 7, 9, 3])
print(array_num)
print(array_num.count(3))

array('i', [1, 3, 5, 3, 7, 9, 3])
3

**Example 7 : Write a Python program to append items from inerrable to the end of the array.**

In [ ]:

print(array_num)
array_num.extend(array_num)
print(array_num)

array('i', [1, 3, 5, 3, 7, 9, 3])
array('i', [1, 3, 5, 3, 7, 9, 3, 1, 3, 5, 3, 7, 9, 3])

**Example 8 :Write a Python program to convert an array to an array of machine values and return the bytes representation.**

In [ ]:

print("Bytes to String: ")
x = array('b', [119, 51, 114, 101,  115, 111, 117, 114, 99, 101, 67])
s = x.tobytes()
print(s)

Bytes to String:
b'w3resourceC'

**Example 9 : Write a Python program to convert an array to an ordinary list with the same items.**

In [ ]:
print(my_array)
ordinary_list = my_array.tolist()
print("Ordinary list:", ordinary_list)

array('i', [10, 20, 30, 40, 50])
Ordinary list: [10, 20, 30, 40, 50]

**Example 10: Find duplicates**

In [ ]:

def contains_duplicates(nums):
    seen = set()

    for num in nums:
        if num in seen:
            return True
        seen.add(num)

    return False

ordinary_list = [10, 20, 30, 40, 50]

# Check if the ordinary list contains duplicates
print("Contains duplicates:", contains_duplicates(ordinary_list))

Contains duplicates: False

**Example 11: Find duplicates**

In [ ]:

def contains_duplicates(nums):
    seen = set()

    for num in nums:
        if num in seen:
            return True
        seen.add(num)

    return False

ordinary_list = [10, 20, 30, 40, 50, 40, 50]   #wantedly added duplicates to check the output

# Check if the ordinary list contains duplicates
print("Contains duplicates:", contains_duplicates(ordinary_list))

Contains duplicates: True

__________________________________

____________________________________

# ***LEETCODE & HACKERRANK PROBLEMS ON ARRAYS***

PROBLEM 1: ** Roman to Integer
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.


Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000


For example, 2 is written as II in Roman numeral, just two ones added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.


Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:


I can be placed before V (5) and X (10) to make 4 and 9.
X can be placed before L (50) and C (100) to make 40 and 90.
C can be placed before D (500) and M (1000) to make 400 and 900.
Given a roman numeral, convert it to an integer.



Example 1:

Input: s = "III"
Output: 3
Explanation: III = 3.


Example 2:

Input: s = "LVIII"
Output: 58
Explanation: L = 50, V= 5, III = 3.


Example 3:

Input: s = "MCMXCIV"
Output: 1994
Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.



Constraints:

1 <= s.length <= 15
s contains only the characters ('I', 'V', 'X', 'L', 'C', 'D', 'M').
It is guaranteed that s is a valid roman numeral in the range [1, 3999]. **

In [ ]:
class Solution:
    def romanToInt(self, s: str) -> int:
        roman_to_integer = {                   # Dictionary mapping Roman numerals to their corresponding integer values
            'I': 1,
            'V': 5,
            'X': 10,
            'L': 50,
            'C': 100,
            'D': 500,
            'M': 1000,
        }                                   # Replacing subtractive notations with additive notations      # This is done to simplify the conversion process
        s = s.replace("IV", "IIII").replace("IX", "VIIII").replace("XL", "XXXX").replace("XC", "LXXXX").replace("CD", "CCCC").replace("CM", "DCCCC")

                                            # Summing up the integer values of the individual Roman numerals in the string
                                            # Using the map() function to apply the dictionary to each character and then summing up
        return sum(map(lambda x: roman_to_integer[x], s))

PROBLEM 2: **Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

An input string is valid if:

Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.
Every close bracket has a corresponding open bracket of the same type.


Example 1:

Input: s = "()"
Output: true
Example 2:

Input: s = "()[]{}"
Output: true
Example 3:

Input: s = "(]"
Output: false


Constraints:

1 <= s.length <= 104
s consists of parentheses only '()[]{}'.**

In [ ]:
class Solution:
    def isValid(self, s: str) -> bool:
        stack = []                                             # Mapping of closing brackets to their corresponding opening brackets
        mapping = {')': '(', '}': '{', ']': '['}

        for char in s:
            if char in mapping:
                top_element = stack.pop() if stack else '#'
                if mapping[char] != top_element:
                    return False                               # Return False if the brackets are not matched
                stack.append(char)

        return not stack                    # Return False if the brackets are not matched

# Test cases # Push the opening brackets onto the stack
# If the stack is empty, all brackets are matched and the expression is valid
solution = Solution()
print(solution.isValid("()"))        # Output: True
print(solution.isValid("()[]{}"))    # Output: True
print(solution.isValid("(]"))        # Output: False

False
False
False

An array is a type of data structure that stores elements of the same type in a contiguous block of memory. In an array, , of size , each memory location has some unique index,  (where ), that can be referenced as  or .

Reverse an array of integers.

Note: If you've already solved our C++ domain's Arrays Introduction challenge, you may want to skip this.

Example

Return .

Function Description

Complete the function reverseArray in the editor below.

reverseArray has the following parameter(s):

int A[n]: the array to reverse
Returns

int[n]: the reversed array
Input Format

The first line contains an integer, , the number of integers in .
The second line contains  space-separated integers that make up .

In [ ]:
def reverseArray(a):
  return a[::-1]

n = int(input())  # Number of integers in the array
a = list(map(int, input().split()))  # Array of integers

reversed_arr = reverseArray(a)
print(reversed_arr)

3
123
[123]

A left rotation operation on an array of size  shifts each of the array's elements  unit to the left. Given an integer, , rotate the array that many steps left and return the result.

Example


After  rotations, .

Function Description

Complete the rotateLeft function in the editor below.

rotateLeft has the following parameters:

int d: the amount to rotate by
int arr[n]: the array to rotate
Returns

int[n]: the rotated array
Input Format

The first line contains two space-separated integers that denote , the number of integers, and , the number of left rotations to perform.
The second line contains  space-separated integers that describe .

Constraints

Sample Input

5 4
1 2 3 4 5
Sample Output

5 1 2 3 4

In [ ]:
def rotateLeft(d, arr):
    n = len(arr)
    rotated_array = [0] * n

    for i in range(n):
        new_index = (i - d) % n
        rotated_array[new_index] = arr[i]

    return rotated_array

# Check and run the code in hackerrank