# **PYTHON PROGRAMMING LANGUAGE**
Python is a high-level, versatile, and interpreted programming language known for its simplicity and readability. Here's a brief description of Python:


**High-Level Language:**


Python is a high-level programming language, which means it's designed to be easy to read and write, making it accessible to both beginners and experienced developers.


**Interpreted:**


Python is an interpreted language, meaning you don't need to compile your code before running it. This makes development and testing faster and more straightforward.


**General-Purpose:**


Python is a general-purpose language, meaning it can be used for a wide range of applications, including web development, data analysis, scientific computing, artificial intelligence, automation, and more.


**Readable and Expressive:**


Python emphasizes code readability and uses a clean and concise syntax, making it easy to understand and write code. Its indentation-based structure enforces clean and consistent formatting.


**Cross-Platform:**


Python is available on multiple platforms (Windows, macOS, Linux), allowing developers to write code that can run on various operating systems without modification.


**Large Standard Library:**


Python comes with a vast standard library that includes modules and packages for a wide range of tasks, reducing the need for external libraries and making development more efficient.


**Dynamic Typing:**


Python is dynamically typed, which means you don't need to declare variable types explicitly. Variable types are determined at runtime, providing flexibility.


**Support for Multiple Programming Paradigms:**


Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming, allowing developers to choose the best approach for their projects.


**Extensible:**


Python can be extended through external libraries and modules, making it easy to incorporate third-party code into your applications.


**Community and Ecosystem:**


Python has a thriving and active community of developers, which means there are plenty of resources, libraries, and frameworks available to help with development.


**Popular in Data Science and AI:**


Python has become the language of choice for data science, machine learning, and artificial intelligence due to libraries like NumPy, pandas, TensorFlow, and PyTorch.


**Open Source:**


Python is open-source, which means it's freely available, and the source code can be modified and distributed by anyone.

________________________________________

# ***variables, data types***

--------------------------------------------

In Python, "variables" and "data types" are fundamental concepts that play a crucial role in how you store and manipulate information in your programs:

**Variables:**


Variables are used to store and manage data in a program. They act as symbolic names for values or data that can be changed or updated during the program's execution.

In Python, you can create a variable by simply assigning a value to a name. For example, x = 42 creates a variable named x with the integer value 42.
Variable names should follow certain naming rules, such as starting with a letter or underscore, and they are case-sensitive (e.g., myVar and myvar are different variables).


**Data Types:**


Data types define the kind of data that can be stored in a variable. Python is a dynamically-typed language, which means you don't need to declare the data type explicitly; it's determined automatically based on the value assigned to the variable.


**Common data types in Python include:**

**Integers (int):** Whole numbers like 42 or -10.
Floating-Point Numbers (float): Numbers with a decimal point like 3.14.

**Strings (str):** Text or sequences of characters enclosed in single or double quotes like "Hello, Python!".

**Booleans (bool):** Represents either True or False, often used for logical conditions.

**Lists (list):** Ordered collections of items that can be of different data types, enclosed in square brackets like [1, 2, 3].

**Tuples (tuple):** Similar to lists but immutable (cannot be changed after creation), enclosed in parentheses like (1, 2, 3).

**Dictionaries (dict):** Key-value pairs for efficient data retrieval, enclosed in curly braces like {"name": "Alice", "age": 30}.

**Sets (set):** Unordered collections of unique items, enclosed in curly braces like {1, 2, 3}.

**None (NoneType):** Represents the absence of a value or a null value.

**Python's dynamic typing allows variables to change data types during their lifetime.**

Variable Declaration:

In [ ]:
name = "Alice"
age = 54

String Variable:

In [ ]:
message = "Hello, All!"

Integer Variable:

In [ ]:
number = 47

Float Variable:

In [ ]:
float = 999.99999

Boolean Variable:

In [ ]:
is_valid = True

List Variable:

In [ ]:
numbers = [1,2,3,4,5,6,7]

Tuple Variable:

In [ ]:
coordinates = (3,4)

Dictionary Variable:

In [ ]:
person = {"name": "Bobby", "age": 25}

Set Variable:

In [ ]:
unique_numbers = {1,2,3,4,5,6,7,8,9,10}

NoneType Variable:

In [ ]:
no_value = None

Variable Type Conversion - int to str:

In [ ]:
number = 47
str_number = str(number)

Variable Type Conversion - str to int:

In [ ]:
str_number = "45"
int_number = int(str_number)

Convert Float to Integer:

In [ ]:
float_number = 853.24
int_number = int(float_number)

Complex Number Variable:

In [ ]:
complex_num = 2 + 3j

List of Mixed Data Types:

In [ ]:
mixed_data = [1, "string", True, 3.14]

String Slicing:

In [ ]:
text = "Python Programming"
substring = text[2:6]

Variable Concatenation:

In [ ]:
first_name = "John"
sec_name = "Doe"
full_name = first_name + sec_name

Boolean Expression:

In [ ]:
x = 8
y = 4
is_greater = x > y

List Comprehension:

In [ ]:
num = [1,2,3,4,5,6]
sq_num = [x**2 for x in num]

Variable Swapping Without a Temporary Variable:

In [ ]:
a = 8
b = 6
a, b = b, a

Named Tuple Variable:

In [ ]:
from collections import namedtuple
point = namedtuple("Point", ["x", "y"])
p = point(4,3)

List of Lists (2D List):

In [ ]:
matrix = [[1,2,3],[1,2,3],[1,2,3]]

String Formatting - f-strings:

In [ ]:
name = "ALice"
age = 54
formatting_string = f"My name is {name} and I'm {age} years old."

List of Dictionaries:

In [ ]:
students = [{"name": "alice", "age": 85},{"name": "Ajay", "age": 54}]

String Escape Sequence:

In [ ]:
escaped_text = "this is a\nyoutube channel"

Custom Data Type (Class):

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

person = Person("John", 60)

###########################################

# ***OPERATORS: ARITHMETIC, LOGICAL, BOOLEAN, BITWISE***

Arithmetic Operators:

Arithmetic operators are used to perform mathematical operations on numeric values.
Common arithmetic operators include + (addition), - (subtraction), * (multiplication), / (division), % (modulus or remainder), and ** (exponentiation).
Example: x = 5 + 3 sets the value of x to 8.

Logical Operators:

Logical operators are used to perform logical operations on Boolean values (True or False).
Common logical operators include and (logical AND), or (logical OR), and not (logical NOT).
They are often used in conditional statements and help determine the flow of a program based on conditions.
Example: result = (x > 5) and (y < 10) checks if both x is greater than 5 and y is less than 10.

Boolean Operators:

Boolean operators are used to manipulate Boolean values and expressions.
Common Boolean operators include True and False, which represent the two Boolean values.
They are often used to create conditional statements and control the program's behavior.
Example: is_valid = True assigns the value True to the is_valid variable.


Bitwise Operators:

Bitwise operators are used to perform operations at the bit level on integers.
Common bitwise operators include & (bitwise AND), | (bitwise OR), ^ (bitwise XOR), ~ (bitwise NOT), << (left shift), and >> (right shift).
These operators are typically used in low-level programming and can be useful for tasks involving binary representation and manipulation.
Example: result = a & b performs a bitwise AND operation between integers a and b.

Addition Operator:

In [ ]:
5+3

Subtraction Operator:

In [ ]:
5-3

Multiplication Operator:

In [ ]:
5*3

Division Operator:

In [ ]:
15/3

Modulus Operator (Remainder):

In [ ]:
20%7

Logical AND Operator:

In [ ]:
True and False

Logical OR Operator:

In [ ]:
True or False

Boolean NOT Operator:

In [ ]:
result = not True

Bitwise AND Operator:

In [ ]:
5 & 3

Bitwise OR Operator:

In [ ]:
5 | 3

Exponentiation Operator (Power):

In [ ]:
2**3

Floor Division Operator:

In [ ]:
10//3

Logical XOR Operator:

In [ ]:
True ^ False

Bitwise XOR Operator:

In [ ]:
5 ^ 3

Bitwise Left Shift Operator:

In [ ]:
4<<2

Bitwise Right Shift Operator:

In [ ]:
16>>2

Comparison Operator (Equal):

In [ ]:
5==5

Comparison Operator (Not Equal):

In [ ]:
5!=8

Comparison Operator (Greater Than):

In [ ]:
8>4

Comparison Operator (Less Than or Equal):

In [ ]:
10 <= 10

Compound Assignment Operator (+=):

In [ ]:
x=5
x+=3

Bitwise NOT Operator:

In [ ]:
result = ~5

Chained Comparison Operators:

In [ ]:
result = 3 < 5 < 7

Bitwise XOR with Toggle Operator:

In [ ]:
x = 8
x ^= 4

Shorthand If-Else using Ternary Operator:

In [ ]:
value = 10
result = "Even" if value % 2 == 0 else "Odd"

Bitwise Shift and Masking:

In [ ]:
value = 0b11011010
shifted = (value >> 3) & 0b111  # Shift right by 3 and mask the last 3 bits

Complex Logical Expression:

In [ ]:
result = (True and False) or (not False and True)

Bitwise Operations on Binary Representation:

In [ ]:
a = 0b1010
b = 0b1100
result_and = bin(a & b)
result_or = bin(a | b)

####################################

# ***LISTS***

A list in Python is an ordered, mutable collection of items. It can store different data types, and you can access, modify, add, or remove items. Lists are commonly used for managing sequences of data, such as numbers or strings, and they support operations like indexing, iteration, and list comprehensions.

Python provides several built-in functions and methods for working with lists. These functions and methods allow you to perform various operations on lists. Here are some of the commonly used list functions and methods:

List Functions:

len(): Returns the number of elements in a list.

max(): Returns the maximum value in a list (if the list contains numbers).

min(): Returns the minimum value in a list (if the list contains numbers).

sum(): Returns the sum of all elements in a list (if the list contains numbers).

sorted(): Returns a sorted copy of the list.

reversed(): Returns a reversed copy of the list.

list(): Converts an iterable (e.g., a tuple or string) into a list.

any(): Returns True if at least one element in the list is True (useful for boolean lists).

all(): Returns True if all elements in the list are True (useful for boolean lists).


List Methods:

append(): Adds an element to the end of the list.

extend(): Extends the list by appending elements from another iterable.

insert(): Inserts an element at a specific position in the list.

remove(): Removes the first occurrence of a specific element.

pop(): Removes and returns an element at a specific index.

index(): Returns the index of the first occurrence of a specific element.

count(): Returns the number of times a specific element appears in the list.

sort(): Sorts the list in ascending order (in-place).

reverse(): Reverses the order of elements in the list (in-place).

clear(): Removes all elements from the list.

copy(): Returns a shallow copy of the list.

list.index(): Returns the index of a specified value within a specified range.

Create a List:

In [ ]:
my_list = [1, 2, 3, 4, 5]

Access an Element:

In [ ]:
element = my_list[2]

Add an Element:

In [ ]:
my_list.append(6)

Remove an Element:

In [ ]:
my_list.remove(3)

List Length:

In [ ]:
length = len(my_list)

Check if Element Exists:

In [ ]:
exists = 4 in my_list

Concatenate Lists:

In [ ]:
combined_list = my_list + [7, 8, 9]

Sort a List:

In [ ]:
my_list.sort()

Reverse a List:

In [ ]:
my_list.reverse()

Clear a List:

In [ ]:
my_list.clear()

List Comprehension - Square Elements:

In [ ]:
squared = [x**2 for x in my_list]

Slice a List:

In [ ]:
sliced_list = my_list[1:4]

Count Occurrences of an Element:

In [ ]:
count = my_list.count(2)

Remove Duplicates:

In [ ]:
unique_list = list(set(my_list))

Find the Index of an Element:

In [ ]:
index = my_list.index(4)

Insert an Element at a Specific Position:

In [ ]:
my_list.insert(2, 7)

Iterate through a List with Index:

In [ ]:
for index, value in enumerate(my_list):
    print(f"Element at index {index} is {value}")

Filter Elements:

In [ ]:
filtered_list = list(filter(lambda x: x % 2 == 0, my_list))

Extend a List:

In [ ]:
my_list.extend([7, 8, 9])

Check if List is Empty:

In [ ]:
is_empty = not bool(my_list)

Nested Lists - Flatten a List:

In [ ]:
flat_list = [item for sublist in nested_list for item in sublist]

Sort a List of Dictionaries by a Key:

In [ ]:
sorted_list = sorted(dict_list, key=lambda x: x['key'])

Remove Elements While Iterating:

In [ ]:
my_list = [x for x in my_list if some_condition(x)]

Group Elements by a Criterion:

In [ ]:
from itertools import groupby
grouped = {key: list(group) for key, group in groupby(my_list, key=lambda x: x % 2 == 0)}

Create a List of Lists of a Fixed Size:

In [ ]:
chunked_list = [my_list[i:i+chunk_size] for i in range(0, len(my_list), chunk_size)]

Implement a Stack Using a List:

In [ ]:
stack = []
stack.append(1)  # Push
popped_element = stack.pop()  # Pop

Implement a Queue Using a List:

In [ ]:
from collections import deque
queue = deque()
queue.append(1)  # Enqueue
dequeued_element = queue.popleft()  # Dequeue

###################################

# ***TUPLES***

Tuple Functions:

len(): Returns the number of elements in a tuple.

max(): Returns the maximum value in a tuple (if the tuple contains numbers).

min(): Returns the minimum value in a tuple (if the tuple contains numbers).

sum(): Returns the sum of all elements in a tuple (if the tuple contains numbers).

sorted(): Returns a sorted list of the elements in the tuple.

tuple(): Converts an iterable (e.g., a list or string) into a tuple.

Tuple Methods:

Tuples have very few built-in methods because they are immutable, and you cannot change their contents. The available methods include:

count(): Returns the number of times a specific element appears in the tuple.

index(): Returns the index of the first occurrence of a specific element.

Create a Tuple:

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

Access an Element:

In [ ]:
element = my_tuple[2]

Tuple Length:

In [ ]:
length = len(my_tuple)

Check if Element Exists:

In [ ]:
exists = 4 in my_tuple

Concatenate Tuples:

In [ ]:
combined_tuple = my_tuple + (6, 7, 8)

Iterate through a Tuple:

In [ ]:
for item in my_tuple:
    print(item)

Count Occurrences of an Element:

In [ ]:
count = my_tuple.count(2)

Convert a Tuple to a List:

In [ ]:
my_list = list(my_tuple)

Find the Minimum and Maximum Values:

In [ ]:
min_value = min(my_tuple)
max_value = max(my_tuple)

Create a Tuple with a Single Element:

In [ ]:
single_element_tuple = (42,)

Tuple Unpacking:

In [ ]:
a, b, c = my_tuple[:3]

Slice a Tuple:

In [ ]:
sliced_tuple = my_tuple[1:4]

Nested Tuples:

In [ ]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

Convert a List of Tuples to a List of Values:

In [ ]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
flattened_list = [item for tpl in list_of_tuples for item in tpl]

Zip Tuples:

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
zipped = zip(tuple1, tuple2)

Find the Index of an Element:

In [ ]:
index = my_tuple.index(4)

Sort a List of Tuples by a Specific Element:

In [ ]:
list_of_tuples = [(3, 'c'), (1, 'a'), (2, 'b')]
sorted_list = sorted(list_of_tuples, key=lambda x: x[0])

Count Unique Elements in a Tuple:

In [ ]:
unique_count = len(set(my_tuple))

Merge Two Tuples into a New Tuple:

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2

Convert a Tuple of Strings to a Single String:

In [ ]:
tuple_of_strings = ('Hello', 'World')
combined_string = ' '.join(tuple_of_strings)

Find the Longest Tuple in a List of Tuples:

In [ ]:
list_of_tuples = [(1, 2, 3), (4, 5), (6, 7, 8, 9)]
longest_tuple = max(list_of_tuples, key=len)

Tuple Intersection:

In [ ]:
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
intersection = tuple(set(tuple1) & set(tuple2))

Tuple Packing:

In [ ]:
def tuple_packing(a, b, c):
    return a, b, c
result_tuple = tuple_packing(1, 'apple', 3.14)

Tuple Slicing with Steps:

In [ ]:
sliced_tuple = my_tuple[1:6:2]  # Get every second element from index 1 to 5

Convert a Tuple of Tuples to a Dictionary:

In [ ]:
tuple_of_tuples = ((1, 'one'), (2, 'two'), (3, 'three'))
dictionary = dict(tuple_of_tuples)

Remove Elements from a Tuple:

In [ ]:
my_tuple = tuple(x for x in my_tuple if x != 3)

Rotate a Tuple to the Right by K Positions:

In [ ]:
def rotate_tuple(tpl, k):
    k = k % len(tpl)
    rotated_tpl = tpl[-k:] + tpl[:-k]
    return rotated_tpl

Tuple Packing and Unpacking in Function Arguments:

In [ ]:
def multiply(a, b):
    return a * b

tuple_args = (2, 3)
result = multiply(*tuple_args)

#####################################

# ***SETS***

Sets are unordered collections of unique elements in Python. They have a set of built-in functions and methods that allow you to work with them effectively. Here are the commonly used set functions and methods:

Set Functions:

len(): Returns the number of elements in a set.

set(): Creates a new set from an iterable (e.g., a list, tuple, or string).

all(): Returns True if all elements in the set are True.

any(): Returns True if at least one element in the set is True.

max(): Returns the maximum element in the set.

min(): Returns the minimum element in the set.

sum(): Returns the sum of all elements in the set (if the set contains numbers).

Set Methods:


add(): Adds an element to the set. If the element is already present, it has no effect.

remove(): Removes a specific element from the set.
Raises a KeyError if the element is not found.

discard(): Removes a specific element from the set if it is present. It does nothing if the element is not found.

pop(): Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.

clear(): Removes all elements from the set, leaving an empty set.

copy(): Returns a shallow copy of the set.

union(): Returns a new set containing all unique elements from two or more sets.

intersection(): Returns a new set containing elements that are common to two or more sets.

difference(): Returns a new set containing elements that are in one set but not in another.

symmetric_difference(): Returns a new set containing elements that are unique to each set.

issubset(): Returns True if the set is a subset of another set.

issuperset(): Returns True if the set is a superset of another set.

isdisjoint(): Returns True if the set has no elements in common with another set.

Create a Set:

In [ ]:
my_set = {1, 2, 3, 4, 5}

Add an Element to a Set:

In [ ]:
my_set.add(6)

Remove an Element from a Set:

In [ ]:
my_set.remove(3)

Check if Element Exists in a Set:

In [ ]:
exists = 4 in my_set

Set Length:

In [ ]:
length = len(my_set)

Iterate through a Set:

In [ ]:
for item in my_set:
    print(item)

Union of Sets:

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2

Intersection of Sets:

In [ ]:
intersection_set = set1 & set2

Difference of Sets:

In [ ]:
difference_set = set1 - set2

Clear a Set:

In [ ]:
my_set.clear()

Create a Set from a List:

In [ ]:
my_list = [1, 2, 3, 3, 4, 5]
unique_set = set(my_list)

Check for Subset:

In [ ]:
subset_check = set1.issubset(set2)

Check for Superset:

In [ ]:
superset_check = set1.issuperset(set2)

Remove and Return an Element from a Set:

In [ ]:
popped_element = my_set.pop()

Symmetric Difference of Sets:

In [ ]:
symmetric_difference_set = set1 ^ set2

Update a Set with Another Set:

In [ ]:
set1.update(set2)

Frozen Sets (Immutable Sets):

In [ ]:
frozen_set = frozenset(my_set)

Remove a Specific Element Safely:

In [ ]:
my_set.discard(3)

Find the Maximum and Minimum Values in a Set:

In [ ]:
max_value = max(my_set)
min_value = min(my_set)

Convert a Set to a List:

In [ ]:
my_list = list(my_set)

Find the Intersection of Multiple Sets:

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3 = {3, 4, 5}
intersection_of_sets = set.intersection(set1, set2, set3)

Check if Sets are Disjoint:

In [ ]:
disjoint_check = set.isdisjoint(set1, set2)

Cartesian Product of Sets:

In [ ]:
from itertools import product
cartesian_product = list(product(set1, set2))

Remove Duplicates from a List While Preserving Order Using a Set:

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

Find the Union of Multiple Sets:

In [ ]:
union_of_sets = set.union(set1, set2, set3)

Find the Common Elements in N Sets:

In [ ]:
common_elements = set1.intersection(*[set2, set3, set4])

####################################

# ***DICTIONARIES***

Dictionaries in Python are versatile data structures that store key-value pairs. They have a set of built-in functions and methods that make it easy to work with them. Here are the commonly used dictionary functions and methods:

Dictionary Functions:

len(): Returns the number of key-value pairs in a dictionary.

dict(): Creates a new dictionary or converts an iterable of key-value pairs into a dictionary.

sorted(): Returns a sorted list of keys in the dictionary.

str(): Returns a string representation of a dictionary.

type(): Returns the type of the dictionary (which is dict).

Dictionary Methods:

clear(): Removes all key-value pairs from the dictionary, leaving an empty dictionary.

copy(): Returns a shallow copy of the dictionary.

get(key, default): Returns the value associated with a key or a default value if the key does not exist.

items(): Returns a view of all key-value pairs as tuples.

keys(): Returns a view of all keys in the dictionary.
values(): Returns a view of all values in the dictionary.

pop(key, default): Removes and returns the value associated with a key or a default value if the key does not exist.

popitem(): Removes and returns an arbitrary key-value pair as a tuple.

update(iterable): Updates the dictionary with key-value pairs from another iterable (e.g., another dictionary).

setdefault(key, default): Returns the value associated with a key or sets a default value if the key does not exist.

fromkeys(iterable, value): Creates a new dictionary with keys from an iterable, each initialized with the same value.

keys() (dictionary view method): Returns a view object containing all keys in the dictionary.

values() (dictionary view method): Returns a view object containing all values in the dictionary.

items() (dictionary view method): Returns a view object containing all key-value pairs as tuples.

update() (dictionary view method): Updates the dictionary with key-value pairs from another iterable.

Create a Dictionary:

In [ ]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

Access a Value by Key:

In [ ]:
name = my_dict['name']

Add a Key-Value Pair:

In [ ]:
my_dict['occupation'] = 'Engineer'

Remove a Key-Value Pair:

In [ ]:
del my_dict['age']

Check if Key Exists:

In [ ]:
key_exists = 'age' in my_dict

Get Dictionary Length:

In [ ]:
length = len(my_dict)

Iterate Through Keys:

In [ ]:
for key in my_dict:
    print(key, my_dict[key])

Iterate Through Values:

In [ ]:
for value in my_dict.values():
    print(value)

Iterate Through Key-Value Pairs:

In [ ]:
for key, value in my_dict.items():
    print(key, value)

Clear a Dictionary:

In [ ]:
my_dict.clear()

Nested Dictionaries:

In [ ]:
person = {
    'name': 'John',
    'address': {
        'street': '123 Main St',
        'city': 'New York'
    }
}

Update Values in a Dictionary:

In [ ]:
my_dict.update({'age': 32, 'city': 'Los Angeles'})

Check if All Keys Exist in Another Dictionary:

In [ ]:
keys_to_check = ['name', 'age', 'city']
all_keys_exist = all(key in my_dict for key in keys_to_check)

Find the Key with the Maximum Value:

In [ ]:
max_key = max(my_dict, key=my_dict.get)

Count Occurrences of Values in a List and Store in a Dictionary:

In [ ]:
my_list = ['apple', 'banana', 'apple', 'cherry', 'banana']
fruit_count = {}
for fruit in my_list:
    fruit_count[fruit] = fruit_count.get(fruit, 0) + 1

Convert Two Lists into a Dictionary:

In [ ]:
keys = ['name', 'age', 'city']
values = ['John', 30, 'New York']
my_dict = dict(zip(keys, values))

Merge Two Dictionaries:

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}

Create a Dictionary with Default Values:

In [ ]:
from collections import defaultdict
my_dict = defaultdict(int)
my_dict['age'] += 1

Check if Two Dictionaries Have Common Keys:

In [ ]:
common_keys = set(dict1.keys()) & set(dict2.keys())

Find the Key-Value Pair with the Maximum Value in a Dictionary:

In [ ]:
max_pair = max(my_dict.items(), key=lambda x: x[1])

########################################

# ***STRINGS***

Strings in Python are sequences of characters, and they come with a set of built-in functions and methods that allow you to manipulate and work with them effectively. Here are the commonly used string functions and methods:

String Functions:

len(): Returns the length (number of characters) of a string.

str(): Converts other data types (e.g., integers, floats) into strings.

ord(): Returns the Unicode code point (integer representation) of a character.

chr(): Returns the character corresponding to a Unicode code point.

String Methods:

str.capitalize(): Returns a copy of the string with the first character capitalized and the rest in lowercase.

str.casefold(): Returns a copy of the string with all characters in lowercase, suitable for case-insensitive comparisons.

str.center(width, fillchar): Returns a centered string within a given width, padded with a specified character (fillchar) if necessary.

str.count(substring, start, end): Returns the number of non-overlapping occurrences of a substring in the string within the specified start and end indexes.

str.encode(encoding, errors): Encodes the string using the specified encoding and returns a bytes object.

str.endswith(suffix, start, end): Checks if the string ends with a specified suffix within the specified start and end indexes and returns a Boolean value.

str.expandtabs(tabsize): Returns a copy of the string with tab characters (\t) replaced by spaces based on the tabsize argument.

str.find(substring, start, end): Searches for a substring and returns the lowest index where it's found (or -1 if not found).

str.format(*args, **kwargs): Formats the string using placeholders {} and replaces them with values from args or keyword arguments in kwargs.

str.format_map(mapping): Similar to format(), but uses a dictionary-like mapping for variable substitutions.

str.index(substring, start, end): Similar to find(), but raises a ValueError if the substring is not found.

str.isalnum(): Returns True if all characters in the string are alphanumeric (letters or digits), otherwise False.

str.isalpha(): Returns True if all characters in the string are alphabetic, otherwise False.

str.isascii(): Returns True if all characters in the string are ASCII characters, otherwise False.

str.isdecimal(): Returns True if all characters in the string are decimal digits, otherwise False.

str.isdigit(): Returns True if all characters in the string are digits, otherwise False.

str.isidentifier(): Returns True if the string is a valid Python identifier, otherwise False.

str.islower(): Returns True if all characters in the string are lowercase, otherwise False.

str.isnumeric(): Returns True if all characters in the string are numeric characters, otherwise False.

str.isprintable(): Returns True if all characters in the string are printable (including whitespace), otherwise False.

str.isspace(): Returns True if all characters in the string are whitespace characters (e.g., space, tab, newline), otherwise False.

str.istitle(): Returns True if the string is in title case (each word starts with a capital letter), otherwise False.

str.isupper(): Returns True if all characters in the string are uppercase, otherwise False.

str.join(iterable): Joins the elements of an iterable (e.g., a list) with the string as a separator and returns a new string.

str.ljust(width, fillchar): Returns a left-justified string within a given width, padded with a specified character (fillchar) if necessary.

str.lower(): Returns a copy of the string with all characters converted to lowercase.

str.lstrip(chars): Returns a copy of the string with leading characters (specified by chars) removed.

str.maketrans(x[, y[, z]]): Creates a translation table for str.translate(). Used for replacing characters.

str.partition(separator): Splits the string into a 3-tuple containing the part before the first occurrence of the separator, the separator itself, and the part after it.

str.replace(old, new[, count]): Returns a copy of the string with all occurrences of old replaced by new. The count parameter limits the number of replacements.

str.rfind(substring, start, end): Searches for a substring from the end of the string and returns the highest index where it's found (or -1 if not found).

str.rindex(substring, start, end): Similar to rfind(), but raises a ValueError if the substring is not found.

str.rjust(width, fillchar): Returns a right-justified string within a given width, padded with a specified character (fillchar) if necessary.

str.rsplit(sep=None, maxsplit=-1): Splits the string into a list of substrings from the right, using the specified sep as a separator, with a maximum of maxsplit splits.

str.rstrip(chars): Returns a copy of the string with trailing characters (specified by chars) removed.

str.split(sep=None, maxsplit=-1): Splits the string into a list of substrings using the specified sep as a separator, with a maximum of maxsplit splits.

str.splitlines(keepends=False): Splits the string at line breaks (\n, \r, or \r\n) and returns a list of lines. If keepends is True, line endings are included.

str.startswith(prefix, start, end): Checks if the string starts with a specified prefix within the specified start and end indexes and returns a Boolean value.

str.strip(chars): Returns a copy of the string with leading and trailing characters (specified by chars) removed.

str.swapcase(): Returns a copy of the string with uppercase characters converted to lowercase and vice versa.

str.title(): Returns a titlecased version of the string, where the first character of each word is capitalized.

Create a String:

In [ ]:
my_string = "Hello, World!"

String Length:

In [ ]:
length = len(my_string)

Access a Character by Index:

In [ ]:
char = my_string[0]

Concatenate Strings:

In [ ]:
combined_string = "Hello" + " " + "World"

Convert to Uppercase:

In [ ]:
uppercase_string = my_string.upper()

Convert to Lowercase:

In [ ]:
lowercase_string = my_string.lower()

Check if a Substring Exists:

In [ ]:
substring_exists = "Hello" in my_string

Split a String into a List:

In [ ]:
words = my_string.split()

Remove Leading and Trailing Whitespace:

In [ ]:
trimmed_string = my_string.strip()

Replace Substring:

In [ ]:
replaced_string = my_string.replace("Hello", "Hi")

Reverse a String:

In [ ]:
reversed_string = my_string[::-1]

Check if a String is a Palindrome:

In [ ]:
is_palindrome = my_string == my_string[::-1]

Count Occurrences of a Character:

In [ ]:
count = my_string.count("l")

Check if a String Contains Only Digits:

In [ ]:
contains_only_digits = my_string.isdigit()

Find the Index of a Substring:

In [ ]:
index = my_string.index("World")

Remove Punctuation from a String:

In [ ]:
import string
no_punctuation_string = my_string.translate(str.maketrans('', '', string.punctuation))

Join a List of Strings into a Single String:

In [ ]:
my_list = ["Hello", "World"]
joined_string = " ".join(my_list)

Check if a String Starts or Ends with a Specific Substring:

In [ ]:
starts_with = my_string.startswith("Hello")
ends_with = my_string.endswith("World")

Capitalize the First Letter of Each Word:

In [ ]:
capitalized_string = my_string.title()

Check if a String Contains Only Letters:

In [ ]:
contains_only_letters = my_string.isalpha()

Remove Duplicate Characters from a String:

In [ ]:
unique_chars_string = "".join(sorted(set(my_string), key=my_string.index))

Check if a String is an Anagram of Another String:

In [ ]:
def is_anagram(str1, str2):
    return sorted(str1) == sorted(str2)

Reverse Words in a String:

In [ ]:
reversed_words_string = " ".join(reversed(my_string.split()))

########################################

# ***ARRAYS***

Create an Array:

In [ ]:
my_array = [1, 2, 3, 4, 5]

Access an Element by Index:

In [ ]:
element = my_array[2]

Find the Length of an Array:

In [ ]:
length = len(my_array)

Append an Element to the End:

In [ ]:
my_array.append(6)

Remove an Element by Value:

In [ ]:
my_array.remove(3)

Check if an Element Exists:

In [ ]:
my_array.remove(3)

Iterate Through an Array:

In [ ]:
for item in my_array:
    print(item)

Sort an Array:

In [ ]:
sorted_array = sorted(my_array)

Reverse an Array:

In [ ]:
reversed_array = my_array[::-1]

Clear an Array:

In [ ]:
my_array.clear()

Create a 2D Array (List of Lists):

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Find the Maximum and Minimum Values in an Array:

In [ ]:
max_value = max(my_array)
min_value = min(my_array)

Count Occurrences of an Element in an Array:

In [ ]:
count = my_array.count(2)

Remove Duplicates from an Array While Preserving Order:

In [ ]:
def remove_duplicates(arr):
    seen = set()
    result = []
    for item in arr:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

Concatenate Two Arrays:

In [ ]:
array1 = [1, 2, 3]
array2 = [4, 5, 6]
concatenated_array = array1 + array2

Find the Intersection of Two Arrays:

In [ ]:
set1 = set(array1)
set2 = set(array2)
intersection = list(set1.intersection(set2))

Find the Union of Two Arrays:

In [ ]:
union = list(set(array1).union(set(array2)))

Rotate an Array (Circular Shift):

In [ ]:
k = 2
rotated_array = my_array[-k:] + my_array[:-k]

Check if an Array is Palindromic:

In [ ]:
is_palindrome = my_array == my_array[::-1]

########################################

# ***if-else-elif statements***

In Python, there are three primary types of conditional statements: if, else, and elif (short for "else if"). These statements allow you to control the flow of your program based on conditions. There are no methods associated with these statements, as they are part of the core syntax of the language. Here's an explanation of these statements:

if Statement:

The if statement is used to execute a block of code if a specified condition is True.
It is the most basic conditional statement and is often used by itself.

Example:

if condition:
    # Code to execute if the condition is True


else Statement:

The else statement is used to execute a block of code if the condition in the preceding if statement is False.

It provides an alternative action when the if condition is not met.

Example:

if condition:
    # Code to execute if the condition is True
else:
    # Code to execute if the condition is False


elif Statement:

The elif statement allows you to check multiple conditions sequentially.
It is used after an initial if statement and before an optional else statement.
If the condition in the if statement is False, Python checks the conditions in the elif statements one by one until it finds a True condition.

Example:

if condition1:
    # Code to execute if condition1 is True
elif condition2:
    # Code to execute if condition2 is True
elif condition3:
    # Code to execute if condition3 is True
else:
    # Code to execute if none of the conditions is True

Check if a Number is Positive or Negative:

In [ ]:
num = 5
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Check if a Number is Even or Odd:

In [ ]:
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Check if a Number is in a Given Range:

In [ ]:
num = 25
if 10 <= num <= 30:
    print("In range")
else:
    print("Out of range")

Check if a String is Empty:

In [ ]:
num = 25
if 10 <= num <= 30:
    print("In range")
else:
    print("Out of range")

Check if a List is Empty:

In [ ]:
my_list = []
if not my_list:
    print("List is empty")
else:
    print("List is not empty")

Check if a Character is a Vowel:

In [ ]:
char = 'e'
if char in 'aeiouAEIOU':
    print("Vowel")
else:
    print("Consonant")

Check if a Year is a Leap Year:

In [ ]:
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Determine the Largest of Three Numbers:

In [ ]:
a, b, c = 12, 7, 20
if a >= b and a >= c:
    print("Largest: a")
elif b >= a and b >= c:
    print("Largest: b")
else:
    print("Largest: c")

Check if a Number is a Prime Number:

In [ ]:
num = 17
if num > 1:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")
else:
    print("Not a prime number")

Check if a String Contains a Substring:

In [ ]:
my_string = "Hello, World!"
substring = "World"
if substring in my_string:
    print("Substring found")
else:
    print("Substring not found")

Find the Largest Among Three Numbers Without Using max():

In [ ]:
a, b, c = 12, 7, 20
if a >= b:
    if a >= c:
        print("Largest: a")
    else:
        print("Largest: c")
else:
    if b >= c:
        print("Largest: b")
    else:
        print("Largest: c")

Check if a Year is a Century Year or Not:

In [ ]:
year = 1900
if year % 100 == 0:
    if year % 400 == 0:
        print("Century leap year")
    else:
        print("Century year (not a leap year)")
else:
    print("Not a century year")

Determine the Grade for a Given Percentage:

In [ ]:
percentage = 85
if percentage >= 90:
    print("A")
elif percentage >= 80:
    print("B")
elif percentage >= 70:
    print("C")
elif percentage >= 60:
    print("D")
else:
    print("F")

Check if a Year is a Palindrome Year (e.g., 2002):

In [ ]:
year = 2002
year_str = str(year)
if year_str == year_str[::-1]:
    print("Palindrome year")
else:
    print("Not a palindrome year")

Determine the Quadrant of a Point in a Cartesian Plane:

In [ ]:
x, y = 3, -2
if x > 0 and y > 0:
    print("Quadrant 1")
elif x < 0 and y > 0:
    print("Quadrant 2")
elif x < 0 and y < 0:
    print("Quadrant 3")
elif x > 0 and y < 0:
    print("Quadrant 4")
else:
    print("Origin")

Check if a Year is a Happy Year (All Digits are Unique):

In [ ]:
year = 1987
year_str = str(year)
if len(set(year_str)) == len(year_str):
    print("Happy year")
else:
    print("Not a happy year")

Check if a Number is a Perfect Square:

In [ ]:
num = 16
if num > 0 and num == int(num**0.5)**2:
    print("Perfect square")
else:
    print("Not a perfect square")

Check if a Number is a Power of Two:

In [ ]:
num = 16
if num > 0 and (num & (num - 1)) == 0:
    print("Power of two")
else:
    print("Not a power of two")

Determine the Season Based on Month:

In [ ]:
month = "April"
if month in ["December", "January", "February"]:
    print("Winter")
elif month in ["March", "April", "May"]:
    print("Spring")
elif month in ["June", "July", "August"]:
    print("Summer")
elif month in ["September", "October", "November"]:
    print("Autumn")

Check if a Number is a Fibonacci Number:

In [ ]:
def is_perfect_square(n):
    return int(n**0.5)**2 == n

def is_fibonacci(num):
    return is_perfect_square(5 * num**2 + 4) or is_perfect_square(5 * num**2 - 4)

num = 8
if is_fibonacci(num):
    print("Fibonacci number")
else:
    print("Not a Fibonacci number")

Check if a Year is a Magic Year (Product of Day and Month Equals Year):

In [ ]:
year = 2022
for month in range(1, 13):
    for day in range(1, 32):
        if month * day == year:
            print(f"Magic year: {day}/{month}/{year}")
            break
    else:
        continue
    break
else:
    print("Not a magic year")

Implement a Simple Calculator with If-Else Statements:

In [ ]:
num1 = 10
num2 = 5
operation = "+"
if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero"
else:
    result = "Invalid operation"
print(f"Result: {result}")

Determine the Winner of a Tic-Tac-Toe Game:

In [ ]:
def check_winner(board):
    for row in board:
        if all(cell == 'X' for cell in row) or all(cell == 'O' for cell in row):
            return row[0]

    for col in range(3):
        if all(board[row][col] == 'X' for row in range(3)) or all(board[row][col] == 'O' for row in range(3)):
            return board[0][col]

    if all(board[i][i] == 'X' for i in range(3)) or all(board[i][i] == 'O' for i in range(3)):
        return board[0][0]

    if all(board[i][2 - i] == 'X' for i in range(3)) or all(board[i][2 - i] == 'O' for i in range(3)):
        return board[0][2]

    return None

game_board = [['X', 'O', 'X'],
              ['X', 'X', 'O'],
              ['O', 'O', 'X']]

winner = check_winner(game_board)
if winner:
    print(f"The winner is {winner}")
else:
    print("It's a draw!")

Find the Largest Subarray with Equal 0s and 1s:

In [ ]:
def find_max_length_subarray(arr):
    max_length = 0
    sum_map = {0: -1}
    current_sum = 0
    for i in range(len(arr)):
        if arr[i] == 0:
            current_sum -= 1
        else:
            current_sum += 1

        if current_sum in sum_map:
            max_length = max(max_length, i - sum_map[current_sum])
        else:
            sum_map[current_sum] = i
    return max_length

arr = [0, 1, 0, 1, 1, 0, 0]
max_length = find_max_length_subarray(arr)
print(f"Largest subarray length with equal 0s and 1s: {max_length}")

Implement a Rock-Paper-Scissors Game:

In [ ]:
def find_max_length_subarray(arr):
    max_length = 0
    sum_map = {0: -1}
    current_sum = 0
    for i in range(len(arr)):
        if arr[i] == 0:
            current_sum -= 1
        else:
            current_sum += 1

        if current_sum in sum_map:
            max_length = max(max_length, i - sum_map[current_sum])
        else:
            sum_map[current_sum] = i
    return max_length

arr = [0, 1, 0, 1, 1, 0, 0]
max_length = find_max_length_subarray(arr)
print(f"Largest subarray length with equal 0s and 1s: {max_length}")

Check if a Sudoku Solution is Valid:

In [ ]:
def is_valid_sudoku(board):
    for i in range(9):
        row_set = set()
        col_set = set()
        box_set = set()
        for j in range(9):
            if board[i][j] in row_set or board[j][i] in col_set or board[i // 3 * 3 + j // 3][i % 3 * 3 + j % 3] in box_set:
                return False
            if board[i][j] != ".":
                row_set.add(board[i][j])
            if board[j][i] != ".":
                col_set.add(board[j][i])
            if board[i // 3 * 3 + j // 3][i % 3 * 3 + j % 3] != ".":
                box_set.add(board[i // 3 * 3 + j // 3][i % 3 * 3 + j % 3])
    return True

sudoku_board = [
    ["5", "3", ".", ".", "7", ".", ".", ".", "."],
    ["6", ".", ".", "1", "9", "5", ".", ".", "."],
    [".", "9", "8", ".", ".", ".", ".", "6", "."],
    ["8", ".", ".", ".", "6", ".", ".", ".", "3"],
    ["4", ".", ".", "8", ".", "3", ".", ".", "1"],
    ["7", ".", ".", ".", "2", ".", ".", ".", "6"],
    [".", "6", ".", ".", ".", ".", "2", "8", "."],
    [".", ".", ".", "4", "1", "9", ".", ".", "5"],
    [".", ".", ".", ".", "8", ".", ".", "7", "9"]
]

if is_valid_sudoku(sudoku_board):
    print("Valid Sudoku")
else:
    print("Invalid Sudoku")

Implement a Simple Text-Based Adventure Game Using If-Else Statements:

In [ ]:
print("Welcome to the adventure game!")
print("You find yourself in a dark forest.")
choice = input("Do you want to go left or right? ").lower()

if choice == "left":
    print("You encounter a bear and run away.")
elif choice == "right":
    print("You find a treasure chest and open it.")
    choice = input("Do you take the gold or the sword? ").lower()
    if choice == "gold":
        print("You become rich and live happily ever after!")
    elif choice == "sword":
        print("You take the sword and continue your journey.")
    else:
        print("You stand there, unable to decide, and the game ends.")
else:
    print("You're indecisive and get lost in the forest.")

Implement a Decision Tree Classifier for a Simple Classification Task:

In [ ]:
age = 25
income = 60000

if age < 30:
    if income < 50000:
        decision = "Low Risk"
    else:
        decision = "Medium Risk"
else:
    if income < 70000:
        decision = "Medium Risk"
    else:
        decision = "High Risk"

print(f"Customer's risk level: {decision}")

###########################################

# ***LOOPS: FOR LOOPS***

Print Numbers from 1 to 5:

In [ ]:
for i in range(1, 6):
    print(i)

Iterate Through a List:

In [ ]:
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

Calculate the Sum of Numbers from 1 to 10:

In [ ]:
total = 0
for i in range(1, 11):
    total += i
print("Sum:", total)

Print Characters of a String:

In [ ]:
my_string = "Hello"
for char in my_string:
    print(char)

Iterate Through a Dictionary's Keys and Values:

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
for key, value in my_dict.items():
    print(key, ":", value)

Print Even Numbers from 2 to 10:

In [ ]:
for i in range(2, 11, 2):
    print(i)

Iterate Through a Range of Years:

In [ ]:
for year in range(2000, 2030, 5):
    print(year)

Loop Until a Condition is Met:

In [ ]:
num = 1
while num <= 5:
    print(num)
    num += 1

Print Multiplication Table for a Number:

In [ ]:
num = 7
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Iterate Through a List in Reverse:

In [ ]:
my_list = [1, 2, 3, 4, 5]
for item in reversed(my_list):
    print(item)

Find the Factorial of a Number:

In [ ]:
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial:", factorial)

Print a Pattern of Stars:

In [ ]:
rows = 4
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Calculate the Sum of Squares of Numbers from 1 to 5:

In [ ]:
rows = 4
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Generate the Fibonacci Sequence:

In [ ]:
n = 10
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Print Prime Numbers Between 1 and 20:

In [ ]:
for num in range(2, 21):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

Calculate the Sum of a Series (1 + 1/2 + 1/3 + ... + 1/n):

In [ ]:
n = 5
total = 0
for i in range(1, n + 1):
    total += 1 / i
print("Sum of series:", total)

Print a Hollow Square Pattern of Stars:

In [ ]:
size = 5
for i in range(size):
    if i == 0 or i == size - 1:
        print("*" * size)
    else:
        print("*" + " " * (size - 2) + "*")

Print a Diamond Pattern of Stars:

In [ ]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "*" * (2 * i + 1))
for i in range(n - 2, -1, -1):
    print(" " * (n - i - 1) + "*" * (2 * i + 1))

Generate All Permutations of a List:

In [ ]:
from itertools import permutations

my_list = [1, 2, 3]
all_permutations = list(permutations(my_list))
print("All permutations:", all_permutations)

# ***LOOPS: WHILE LOOP***

Print Numbers from 1 to 5 using a While Loop:

In [ ]:
num = 1
while num <= 5:
    print(num)
    num += 1

Calculate the Sum of Numbers from 1 to 10 using a While Loop:

In [ ]:
total = 0
num = 1
while num <= 10:
    total += num
    num += 1
print("Sum:", total)

Generate a Countdown from 5 to 1:

In [ ]:
num = 5
while num >= 1:
    print(num)
    num -= 1

Print Even Numbers from 2 to 10 using a While Loop:

In [ ]:
num = 2
while num <= 10:
    print(num)
    num += 2

Find the Factorial of a Number using a While Loop:

In [ ]:
num = 5
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print("Factorial:", factorial)

Calculate the Sum of Squares of Numbers from 1 to 5 using a While Loop:

In [ ]:
num = 1
total = 0
while num <= 5:
    total += num**2
    num += 1
print("Sum of squares:", total)

Print Multiplication Table for 7 using a While Loop:

In [ ]:
num = 1
while num <= 10:
    result = 7 * num
    print(f"7 x {num} = {result}")
    num += 1

Find the Greatest Common Divisor (GCD) of Two Numbers using Euclidean Algorithm:

In [ ]:
a, b = 48, 18
while b != 0:
    a, b = b, a % b
print("GCD:", a)

Generate the Fibonacci Sequence up to 100 using a While Loop:

In [ ]:
a, b = 0, 1
while a <= 100:
    print(a, end=" ")
    a, b = b, a + b

Reverse a Number using a While Loop:

In [ ]:
num = 12345
reversed_num = 0
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
print("Reversed number:", reversed_num)

Determine if a Number is a Palindrome using a While Loop:

In [ ]:
num = 12321
original_num = num
reversed_num = 0
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
if original_num == reversed_num:
    print("Palindrome")
else:
    print("Not a palindrome")

Simulate a Dice Rolling Game until a 6 is Rolled:

In [ ]:
import random

rolls = 0
while True:
    roll = random.randint(1, 6)
    rolls += 1
    if roll == 6:
        break
print("Number of rolls to get a 6:", rolls)

Calculate the Sum of an Infinite Series (1 + 1/2 + 1/4 + 1/8 + ...) using a While Loop:

In [ ]:
total = 0
n = 1
while True:
    term = 1 / (2**n)
    if term < 1e-6:
        break
    total += term
    n += 1
print("Sum of the series:", total)

Simulate a Rock-Paper-Scissors Game against the Computer using a While Loop:

In [ ]:
import random

while True:
    user_choice = input("Enter your choice (rock, paper, scissors, or quit): ").lower()
    if user_choice == "quit":
        break
    computer_choice = random.choice(["rock", "paper", "scissors"])
    print(f"Computer's choice: {computer_choice}")
    if user_choice == computer_choice:
        print("It's a tie!")
    elif user_choice == "rock" and computer_choice == "scissors" or \
            user_choice == "paper" and computer_choice == "rock" or \
            user_choice == "scissors" and computer_choice == "paper":
        print("You win!")
    else:
        print("Computer wins!")

Simulate a Sudoku Solver using a While Loop:

In [ ]:
def is_valid(board, row, col, num):
    for i in range(9):
        if board[row][i] == num or board[i][col] == num:
            return False
    start_row, start_col = 3 * (row // 3), 3 * (col // 3)
    for i in range(3):
        for j in range(3):
            if board[start_row + i][start_col + j] == num:
                return False
    return True

def solve_sudoku(board):
    for row in range(9):
        for col in range(9):
            if board[row][col] == 0:
                for num in range(1, 10):
                    if is_valid(board, row, col, num):
                        board[row][col] = num
                        if solve_sudoku(board):
                            return True
                        board[row][col] = 0
                return False
    return True

# Example Sudoku puzzle (0 represents an empty cell)
sudoku_board = [
    [5, 3, 0, 0, 7, 0, 0, 0, 0],
    [6, 0, 0, 1, 9, 5, 0, 0, 0],
    [0, 9, 8, 0, 0, 0, 0, 6, 0],
    [8, 0, 0, 0, 6, 0, 0, 0, 3],
    [4, 0, 0, 8, 0, 3, 0, 0, 1],
    [7, 0, 0, 0, 2, 0, 0, 0, 6],
    [0, 6, 0, 0, 0, 0, 2, 8, 0],
    [0, 0, 0, 4, 1, 9, 0, 0, 5],
    [0, 0, 0, 0, 8, 0, 0, 7, 9]
]

if solve_sudoku(sudoku_board):
    for row in sudoku_board:
        print(row)
else:
    print("No solution exists.")

#####################################

# **"break statements," "continue statement," and "pass statement":**

Break Statement in a Loop:

In [ ]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)

Continue Statement in a Loop:

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

Pass Statement in a Loop:

In [ ]:
for i in range(1, 6):
    if i == 3:
        pass
    else:
        print(i)

Break Out of an Infinite Loop:

In [ ]:
while True:
    user_input = input("Enter 'quit' to exit: ")
    if user_input == 'quit':
        break

Skip Odd Numbers using Continue:

In [ ]:
for i in range(1, 11):
    if i % 2 == 1:
        continue
    print(i)

Use Pass for Placeholder Code:

In [ ]:
def placeholder_function():
    pass

Break Loop on Condition:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
for num in numbers:
    if num > 3:
        break
    print(num)

Continue in Nested Loop:

In [ ]:
for i in range(3):
    for j in range(3):
        if i == j:
            continue
        print(f"({i}, {j})")

Using Break to Exit Early:

In [ ]:
numbers = [10, 20, 30, 40, 50]
for num in numbers:
    if num == 30:
        break
    print(num)

Skip Processing Empty Lists with Pass:

In [ ]:
my_list = []
for item in my_list:
    pass

Break Out of Nested Loops:

In [ ]:
for i in range(3):
    for j in range(3):
        if i == j == 1:
            break  # Breaks out of both loops
        print(f"({i}, {j})")

Continue in a While Loop:

In [ ]:
num = 0
while num < 5:
    num += 1
    if num == 3:
        continue
    print(num)

Pass in a Function:

In [ ]:
def my_function():
    pass

Use Break to Exit a Search Loop:

In [ ]:
search_list = [10, 20, 30, 40, 50]
target = 30
for index, value in enumerate(search_list):
    if value == target:
        print(f"Found {target} at index {index}")
        break
else:
    print(f"{target} not found in the list")

Skip Processing on a Condition with Continue:

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

Exit Early with Break in a While Loop:

In [ ]:
num = 1
while num <= 10:
    if num == 5:
        break
    print(num)
    num += 1

Skip Over Errors with Pass:

In [ ]:
try:
    # Some code that might raise an exception
    pass
except Exception:
    pass

Use Continue to Skip Unwanted Items:

In [ ]:
items = ["apple", "banana", "cherry", "date"]
for item in items:
    if "a" not in item:
        continue
    print(item)

Break Out of a Loop Early Based on User Input:

In [ ]:
while True:
    user_input = input("Do you want to continue (yes/no)? ")
    if user_input.lower() == "no":
        break

Use Pass in a Class Definition:

In [ ]:
class MyClass:
    def my_method(self):
        pass

Use Continue in a Nested Loop:

In [ ]:
for i in range(3):
    for j in range(3):
        if i == j:
            continue
        print(f"({i}, {j})")

Pass with Placeholder Comments:

In [ ]:
def my_function():
    # TODO: Implement this function
    pass

Break Out of an Infinite Loop with a Condition:

In [ ]:
counter = 0
while True:
    if counter >= 5:
        break
    print(counter)
    counter += 1

Continue Inside Nested Loops with a Condition:

In [ ]:
for i in range(3):
    for j in range(3):
        if i == 1 and j == 1:
            continue
        print(f"({i}, {j})")

Break Loop Based on External Condition:

In [ ]:
numbers = [10, 20, 30, 40, 50]
target = 30
found = False
for index, value in enumerate(numbers):
    if value == target:
        found = True
        break
if found:
    print(f"Found {target} at index {index}")
else:
    print(f"{target} not found in the list")

Skip Over Errors with Pass and Exception Handling:

In [ ]:
try:
    # Some code that might raise an exception
    pass
except Exception:
    pass

Break Out of a Loop with a Custom Exception:

In [ ]:
class CustomException(Exception):
    pass

for i in range(10):
    if i == 5:
        raise CustomException("Loop terminated due to custom exception.")
    print(i)

Continue in a While Loop with a Condition:

In [ ]:
num = 0
while num < 10:
    num += 1
    if num % 2 == 0:
        continue
    print(num)

Use Pass for Stubbing in Test-Driven Development (TDD):

In [ ]:
def test_my_function():
    # TODO: Write test cases for my_function
    pass

###################################

# ***OOPS***

Create a Simple Class:

In [ ]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        return f"{self.name} says Woof!"

Create Objects from a Class:

In [ ]:
dog1 = Dog("Buddy", "Golden Retriever")
dog2 = Dog("Daisy", "Beagle")

Access Object Attributes:

In [ ]:
print(dog1.name)
print(dog2.breed)

Call Object Methods:

In [ ]:
print(dog1.bark())
print(dog2.bark())

Inheritance - Create a Subclass:

In [ ]:
class Dachshund(Dog):
    def __init__(self, name):
        super().__init__(name, "Dachshund")

Override Parent Class Method:

In [ ]:
class Dachshund(Dog):
    def bark(self):
        return f"{self.name} says Arf!"

Encapsulation - Private Attribute:

In [ ]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.__account_number = account_number
        self.__balance = balance

    def get_balance(self):
        return self.__balance

Polymorphism - Use a Common Method:

In [ ]:
def introduce(pet):
    print(f"I am {pet.name}, a {pet.__class__.__name__}.")

introduce(dog1)
introduce(Dachshund("Max"))

Composition - Create a Complex Object:

In [ ]:
class Engine:
    def start(self):
        print("Engine started.")

class Car:
    def __init__(self):
        self.engine = Engine()

my_car = Car()
my_car.engine.start()

Class Variables and Methods:

In [ ]:
class Circle:
    pi = 3.1416

    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return Circle.pi * self.radius**2

Multiple Inheritance:

In [ ]:
class A:
    def method(self):
        print("Method in class A")

class B:
    def method(self):
        print("Method in class B")

class C(A, B):
    pass

obj = C()
obj.method()  # Calls method from class A

Abstract Base Class:

In [ ]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.1416 * self.radius**2

Class Decorators - Property:

In [ ]:
class Celsius:
    def __init__(self, temperature=0):
        self._temperature = temperature

    @property
    def temperature(self):
        return self._temperature

    @temperature.setter
    def temperature(self, value):
        if value < -273.15:
            raise ValueError("Temperature below absolute zero is not possible.")
        self._temperature = value

Class Decorators - Classmethod:

In [ ]:
class MyClass:
    count = 0

    def __init__(self):
        MyClass.count += 1

    @classmethod
    def get_instance_count(cls):
        return cls.count

Class Decorators - Staticmethod:

In [ ]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b

result = MathUtils.add(3, 5)

Operator Overloading:

In [ ]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

Property Deletion:

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def del_age(self):
        print("Deleting age.")
        del self._age

    age = property(None, del_age)

Class Composition with Aggregation:

In [ ]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)

Class Composition with Composition:

In [ ]:
class Address:
    def __init__(self, street, city):
        self.street = street
        self.city = city

class Person:
    def __init__(self, name, address):
        self.name = name
        self.address = address

Metaclass - Create a Custom Metaclass:

In [ ]:
class SingletonMeta(type):
    _instances = {}

    def __call__(cls, *args, **kwargs):
        if cls not in cls._instances:
            cls._instances[cls] = super(SingletonMeta, cls).__call__(*args, **kwargs)
        return cls._instances[cls]

class Singleton(metaclass=SingletonMeta):
    def __init__(self):
        self.value = None

    def set_value(self, value):
        self.value = value

    def get_value(self):
        return self.value

###################################

# ***FUNCTIONS***

Define a Simple Function:

In [ ]:
def greet(name):
    return f"Hello, {name}!"

Function with Default Parameter:

In [ ]:
def multiply(a, b=2):
    return a * b

Function with Variable-Length Arguments:

In [ ]:
def sum_values(*args):
    return sum(args)

Function with Named Arguments:

In [ ]:
def person_info(name, age):
    return f"Name: {name}, Age: {age}"

Function with Docstring:

In [ ]:
def add(x, y):
    """
    This function adds two numbers.
    """
    return x + y

Function Returning Multiple Values:

In [ ]:
def divide_and_remainder(a, b):
    quotient = a // b
    remainder = a % b
    return quotient, remainder

Nested Function:

In [ ]:
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

Function as a Parameter:

In [ ]:
def apply(func, value):
    return func(value)

def square(x):
    return x ** 2

Function with Default Arguments:

In [ ]:
def greet_with_message(name, message="Hello"):
    return f"{message}, {name}!"

Function to Check if a Number is Even:

In [ ]:
def is_even(num):
    return num % 2 == 0

Recursive Function - Factorial:

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

Higher-Order Function - Map:

In [ ]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))

Function with Keyword-Only Arguments:

In [ ]:
def greet(name, *, message="Hello"):
    return f"{message}, {name}!"

Generator Function - Fibonacci Sequence:

In [ ]:
def fibonacci():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

Function with Arbitrary Keyword Arguments:

In [ ]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

Function with Function Annotation:

In [ ]:
def add(x: int, y: int) -> int:
    return x + y

Lambda Function - Find the Square:

In [ ]:
square = lambda x: x ** 2
result = square(5)

Function to Reverse a String:

In [ ]:
def reverse_string(s):
    return s[::-1]

Function to Find Prime Numbers:

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True